@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/*seletor coringa */
*{
    box-sizing: border-box;
}

body {
    /* tipografia padrão da página*/
    font-family: 'Ropa Sans', sans-serif;
    color: #555;
    /* reset css do navegador*/
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    /*margin: 10px; todos os lados*/
    /*margin: 10px 20px; top/bottom, left/right*/
    /*margin: 10px 20px 5px; top, left/right, bottom*/
    /*auto só funciona para laterais no margin*/
}

header{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
}

header .container{
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #777;
    display: inline-block;
    font-size: 40px;
}

header h2 {
    color:#AAAAAA;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

header button.menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #aaa;
}

/*section banner */

section.banner{
    margin: 50px 0;
}

section.banner img.slider {
    width: 100%;
}

section.banner img.slider {
    width: 100%;
}

section.banner .carousel {
    position: relative;
}

section.banner .carousel .controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;   
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.banner .carousel .controls button {
    background-color: rgba(141, 141, 141, 0.62);
    border: none;

    border-radius: 50px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 10px;

    cursor: pointer;
}

/*section destaques */

section.destaques .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

section.destaques article {
    background-color: #eeeeee;
    width: 450px;
    /*margin: 30px*/
}

section.destaques article .thumb {
    width: 100%;
    height: 280px;
   /* background-image: url("../imagens/img/Rectangle6.svg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.destaques article .info {
    padding: 25px;
}

section.destaques article .info .tag {
    color: #fff;
    font-size: 27px;
    padding: 5px 15px;
    border-radius: 30px;
}

section.destaques article .info .tag.tag-new {
    background-color: #51D275;
}

section.destaques article .info .tag.tag-sale {
    background-color: #DC9730;
}

section.destaques article .info .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.destaques article .info .details .price {
    margin: 0;
    font-size: 40px;
}

/*your style*/

section.styles {
    margin: 80px 0;
}

section.styles h2 {
    text-align: center;
    font-size: 35px;
    color: #888888;
    font-weight: 300;
}

section.styles article {
    text-align: center;
    padding: 70px 30px;
    margin: 20px auto;

    background-color: #777;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

section.styles article h3 {
    background-color: rgba(196, 196, 196, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*contact*/
section.contact {
    padding: 50px 0;
}

section.contact h2 {
    text-align: center;
    font-size: 35px;
    color: #888888;
    font-weight: 300;
}

section.contact form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

section.contact form input, 
section.contact form textarea {
    width: 100%;
    padding: 7px;
    margin: 10px 0; 
    resize: none;
}

section.contact form button {
    padding: 10px 20px;
    background-color: #DC9730;
    color: #fff;
    border: none;
    font-size: 16px;
}

/*footer */

footer {
    background-color: #333333;
    color:#fff;
    padding: 80px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .mapa iframe {
    width: 600px;
    max-width: 100%;
    height: 300px;
    border: none;
    /*borda arredondada*/
    border-radius: 30px;
}

footer .info a {
    color: #fff;
    text-decoration: none;
}

footer .info h4,
footer .info p {
    font-size: 20px;
    font-weight: 300;
}

footer .medias {
    display: flex;
    justify-content: flex-start;
    gap: 20px;    
}

footer .medias img {
    width: 30px;
    margin: 5px;
}



@media (max-width: 979px) {
    section.destaques article {
        width: 350px;
    }
}

@media (max-width: 779px) {
    section.destaques article {
        width: 100%;
    }
}